@model Job_portal.Models.PostJob_tb

@{
    ViewBag.Title = "AddJobPosting";
    Layout = "~/Views/Shared/_LayoutCompanyDashboardDesign.cshtml";
}

<div class="container">
    <h2>Add New Job</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
           
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
               <label class="control-label col-md-2">Company ID</label>
                <div class="col-md-10">
                    @*@Html.DropDownList("Company_ID", null, htmlAttributes: new { @class = "form-control" })*@
                    <input type="text" value="@Session["comid"]" class="form-control" />
                    @Html.ValidationMessageFor(model => model.Company_ID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Job Category</label>
                <div class="col-md-10">
                    @Html.DropDownListFor(m => m.job_cat_id, (SelectList)ViewBag.showjobcat, "Select Job Category", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.job_cat_id, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Required Skill</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.RequiredSkill, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.RequiredSkill, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Job Role</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Role, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Role, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Quolification</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Min_Qualification, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Min_Qualification, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Extra Skill</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ExtraSkill, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ExtraSkill, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Max Age</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Max_age, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Max_age, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Salary</label>
               
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Expected_salary, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Expected_salary, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Job Location</label>
                <div class="col-md-10">
                    @Html.DropDownListFor(m => m.Job_location, (SelectList)ViewBag.showjoblocation, "Select Location", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Job_location, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Working Hour</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Working_Hour, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Working_Hour, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Job Description</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Job_Desc, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Job_Desc, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Last Apply Date</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.LastApplyDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.LastApplyDate, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">Contact Person</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Contact_person, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Contact_person, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Company Name</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CompanyName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CompanyName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Post Job" class="btn btn-primary" />
                </div>
            </div>
        </div>
    }

</div>
